---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for my_page in site.pages %}
     {% if my_page.block_list %} 
      <li>
        <h2>
          <a class="block-link col-xs-12" href="{{ my_page.url | prepend: site.baseurl }}" style="background-image: url("{{ site.imgurl }}/{{ my_page.background_img }}");">
            {{ my_page.block_list }}
          </a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
